* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #f4f6f9;

.dashboard-header {
    height: 60px;
    background: #1a73e8;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
}


.logo {
    font-size: 18px;
    font-weight: bold;
}
.profile-menu {
    position: relative;
    cursor: pointer;
    z-index: 1000;
}

.user-name {
    font-weight: 500;
}

.user-name::after {
    content: " ▼";
    font-size: 10px;
    margin-left: 4px;
}

.profile-menu:hover .dropdown {
    display: block;
}

